@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos del Swiper */
:root {
    --swiper-navigation-top-offset: 85%;
    --swiper-theme-color: #f59e0b;
    --swiper-navigation-size: 24px;
}

.swiper-button-prev {
    position: absolute;
    left: 92%;
}

@media (max-width: 1290px) {
    :root {
        --swiper-navigation-top-offset: 90%;
    }

    .swiper-button-prev {
        left: 85%;
    }
}

/* Estilos Masonry */
.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column>img {
    margin-bottom: 30px;
}