@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos del Swiper */
:root {
    --swiper-navigation-top-offset: 85%;
    --swiper-theme-color: #f59e0b;
    --swiper-navigation-size: 24px;
}

.swiper-button-prev {
    position: absolute;
    left: 92%;
}

@media (max-width: 1290px) {
    :root {
        --swiper-navigation-top-offset: 90%;
    }

    .swiper-button-prev {
        left: 85%;
    }
}